/* Style untuk header */

header {
  background-color: #36197c;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Style menu */ 

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
 float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

/* Style untuk ruangan content  */

main {
   max-width: 1000px;
   margin: 20px auto;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 2 column  */

div#kiri {
  width: 48%;
  float: left;
  padding: 5px;
  border-style: dashed;
  background-color: greenyellow;
  
}

div#kanan {
  width: 48%;
  float: right;
  padding: 5px;
  border-style: dashed;
  background-color: lightpink;

}

.clear { clear:both; }

/* Style the footer */
footer {
  text-align: center;
  background-color: #36197c;
  color: #FFF;
  padding: 10px;
}

.center_all {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green; 
}

/* Apply styles to the table with ID "social" */
#social {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

/* Style for table header cells */
#social th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

/* Style for table data cells */
#social td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Style for alternating rows */
#social tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Add some spacing between table cells */
#social td, #social th {
    text-align: left;
}

/* Style the table caption */
#social caption {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

/* Remove default list style for the table */
#social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Apply styles to the ordered list with ID "skill" */
#skill {
    list-style-type: decimal;
    margin: 20px 0;
    padding-left: 20px;
}

/* Style for list items (li) within the "skill" list */
#skill li {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}


/* Style buttons */
button[type="submit"],
button[type="reset"],
input[type="button"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: #0056b3;
}


input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"],
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

/* Style radio buttons and checkboxes */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}
